


html{
  font-size: 62.5%; /* 62.5 x 16px = 10px = 1rem */
  box-sizing: border-box;
}

body{
  margin: 0;
  /* height: 100vh; */
  position: relative;
  padding-bottom: 47.78px;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

#root{
  height: 100%;
}

.grid_container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #203040;
  padding: 20px;

}

main{
  grid-area: main;
  padding: 1rem;
/* min-height: calc(100vh - 57.78px - 47.78px );  */
}

footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  
}

h1{
  font-size: 1.5rem;
  padding: 1rem;
}

h2{
  font-size: 1.5rem;
  
}

a{
  text-decoration: none;
  padding: 10px;
}

a:hover{
  color: #ff8000;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  margin: 1rem;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a4a4a4;
  cursor: pointer;
}

button:hover{
  border: 0.1rem #404040 solid ;

}

button.primary{
  background-color: #f0c040 ;
}

button.block{
  width: 100%;
}

header a{
  color: #ffffff;
  text-shadow: #203040;

}

a.brand{
 color: #ffffff;
 font-size: 3rem; 
 font-weight: bold;
 text-decoration: underline;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;
}

/* image */
img {
  border-radius: 0.5rem;
}

img.medium{
  max-width: 20rem;
  width: 100%;
  
}

img.large{
  width: 100%;
}

.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 10px;
  
  
}

.card-body{
  padding: 5px ;
  }

  .card-body > * {
      margin-bottom: 10px;
  }

  .price{
      font-size: 2rem;
  font-weight: bold;
  }

  /* rating */
  .rating span{
      padding-top: 0.2px;
      color: #f0c040;
      margin: 0.1rem;
  }

  .rating span:last-child{
    color: #404040;
  }

  /* Alert */
  .success{
    color: #20a020;
  }

  .danger{
    color: #a02020;
  }
  
  .alert{
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
  }

  .alert-info{
    color: #2020a0;
    background-color: #e0e0ff;
  }

  .alert-danger{
    color: #a02020;
    background-color: #ffe0e0e0;
  }

